body {
    font-family: Arial;
    background: #f4f6f9;
}

header {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}

table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background: #34495e;
    color: white;
}

#search {
    width: 50%;
    margin: 20px auto;
    display: block;
    padding: 10px;
}
